/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */
/* Header */
/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */

:root{
    --header-height: 160px;
    --nav-width: 150px;
}

#page-header{
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    width: 100%;
    background-color: var(--main-col);

    -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
}

#logo{
    width: 385px;
    margin-left: 50px;
}

/*FoodPort Logo*/
.logofarbe{
    fill: var(--main-col-light);
}

#search-product{
    width: 480px;
    height: 48px;
    background-color: white;
    font-family: open-sans;
    font-size: var(--txt-mittel);
    color: var(--main-col);
    padding: 5px;
}

#search-product::placeholder {
    font-family: open-sans-italic;
    font-size: var(--txt-normal);
}


/* Page Nav */
/* ==================================================================== */

#page-main-nav{
    
}

#page-main-nav > ul{
    display: flex;
    width: calc(4 * var(--nav-width));
}

#page-main-nav > ul > li{
    height: var(--header-height);
    width: var(--nav-width);
    transition-duration: 0.15s;
}
#page-main-nav > ul > li:hover{
    background-color: var(--main-col-light);
    cursor: pointer;
}
#page-main-nav > ul > li:hover>.nav-title{
    color: var(--main-col);
}

/* Main Nav Images*/
/* ==================================================================== */

.nav-img{
    display: flex;
    justify-content: center;
    height: 80px;
    margin-top: 20px;
}

.nav-img > svg{height: 100%;}
.main-nav-svg-color{fill: var(--main-col-light);}
.main-nav-svg-color-kontra{fill: var(--main-col);}

#page-main-nav > ul > li:hover .main-nav-svg-color{
    fill: var(--main-col);
}

#page-main-nav > ul > li:hover .main-nav-svg-color-kontra{
    fill: var(--main-col-light);
}

.nav-title{
    text-align: center;
    height: 20%;
    margin-top: 12px;
    font-family: open-sans-bold;
    font-size: 22px;
    letter-spacing: 1px;
    font-style: bold;
    color: var(--main-col-light);
}

/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */
/* Additional Header Part */
/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */

#additional-main-header{
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    margin-top: var(--header-height);
    height: 90px;
    width: 100%;
}

/* Left part */
#additional-main-header-left{
    display: flex;
    align-content: flex-start;
    height: 100%;
    min-width: 300px;
}

.language-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 35px;
    width: 150px;
    margin-left: 10px;
}

#language{
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 35px;
    width: 150px;
    background-color: var(--main-col);
}

.language-img{
    height: 30px;
    width: 53px;
}
#language > h4{
    padding: 0 4px;
    color: var(--main-col-light)
}
.language-triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 25px 0 25px;
    border-color: var(--main-col) transparent transparent transparent;
}
#breadcrumb{
    padding: 5px;
    color: gray;
}

/* Middle Vendor part */
/* ============================ Gerüst */
#additional-main-header-middle{
    margin-top: -50px;
    height: 150px;
    max-width: 800px;
}
    .total-vendor-header{
        display: flex;
        justify-content: center;
        height: 50px;
    }
        .total-vendor-header header{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--blue-light);
            border-radius: 20px;
            width: 220px;
            height: 36px;
        }

        .total-vendor-header-line{
            width: 34%;
            margin-left: -5px;
            margin-right: -5px;
            height: 0;
            border-bottom: 3px solid var(--blue-light);
        }

        #total-vendor-icon{
            fill: var(--blue);
        }

        .total-vendor-img{
            margin: 0 8px;
            height: 28px;
        }
        .total-vendor-img > svg{
            height: 100%;
        }

        .total-vendor-header h3{
            color: var(--blue);
            font-family: open-sans-bold;
            font-size: 20px;
            letter-spacing: 2px;
        }


    #vendor-properties{
        display: flex;
        justify-content: center;
    }

/* ============================ Gerüst Ende */
/* ============================ Inhalte */

.vendor-properties-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 190px;
    margin: 0 15px;
}

    .vendor-logo{
        display: flex;
        align-items: center;
        height: 35px;
        width: 100%;
        background-color: var(--blue-light);
        border-right: 5px solid var(--blue);
        border-left: 5px solid var(--blue);
    }

        .vendor-logo-img{
            display: flex;
            height: 80%; /* Effektive Bildgrösse*/
        }

            .vendor-logo-img > img{
                height: 100%;
            }


    .vendor-properties-container{
        display: flex;
        height: 30px;
        width: 100%;
    }
    
    :root{--vendor-prop-rad: 12px;} /* Passe den Radius hier an */

        .vendor-properties-container > article{
            width: 33.3%;
            background-color: var(--blue);
            border: var(--blue-light) solid 1px;
        }

        .vendor-package-container{
            border-radius: 0 0 0 var(--vendor-prop-rad);
        }

        .vendor-weight-container{

        }

        .vendor-cart-container{
            border-radius: 0 0 var(--vendor-prop-rad) 0;
        }


    .vendor-price-container{
        height: 27px;
        width: 130px;
        background-color: var(--blue);
        border: ;
        border-radius: 0 0 var(--vendor-prop-rad) var(--vendor-prop-rad);
    }


/* Right part */
#additional-main-header-right{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    height: 40px;
    width: 400px;
}

    #total-wrapper{
        display: flex;
        align-items: center;
    }

        #total-wrapper > p{
            margin-right: 5px;
            font-family: roboto-italic;
            color: var(--main-col);
        }

        .total-container{
            display: flex;
            align-items: center;
            background-color: var(--main-col-light);
            border: 1px var(--main-col) solid;
            color: var(--main-col);
            margin: 0 5px;
            height: 40px;
        }

            .total-container > data{
                margin: 0 2px;
            }

            .total-container > picture{
                margin: 0 2px;
            }


/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */
/* Page Main */
/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */

#page-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Fixed Aside */
/* ==================================================================== */

/* Vendor Filter left */
#vendor-filter{
    position: fixed;
    display: flex;
    z-index: 50;
    align-items: center;
    top: 40%;
    left: 0;
    height: 170px;
    width: 50px;
    border-radius: 0 20px 20px 0;
    background-color: var(--blue);
}

    #vendor-filter > h3{
        color: var(--blue-light);
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }


/* Medias right */
#media{
    position: fixed;
    z-index: 50;
    top: 38%;
    right: 0;
    width: 60px;
}

    #media > article{
        height: 60px;
        border-radius: 20px 0 0 20px;
        transition-duration: 0.2s;
        cursor: pointer;
    }

    #recipes{
        background-color: var(--main-col);
    }
        #recipes:hover{transform: scale(1.2) translateX(-20px); width: 80px;}

    #blog{
        background-color: var(--blue);
    }
        #blog:hover{transform: scale(1.2) translateX(-20px); width: 80px;}

    #video{
        background-color: var(--red);
    }
        #video:hover{transform: scale(1.2) translateX(-20px); width: 80px;}


/* Product Nav */
/* ==================================================================== */

#product-nav{
    z-index: 80;
    margin-top: 280px;
    width: 1600px;
    display: flex;
    justify-content: space-between;
}

    .category-container{
        display: flex;
    }
        .category-container > h3{
            letter-spacing: 2px;
        }

        .category-container > #category-selector{
            margin-left: 35px;
            min-width: 250px;
        }


    #infoblock{
        display: flex;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        align-items: center;
        padding-left: 6px;
        width: 400px;
        height: 40px;
        background-color: white;
        border: 2px solid var(--main-col);
        font-family: open-sans-bold;
        color: var(--main-col);
    }

    .fast-filter-container{
        display: flex;
    }

        .fast-filter{
            display: flex;
            align-items: center;
            margin: 0 5px;
        }

        .fast-filter > input{
            height: 20px;
            width: 20px;
        }

        .fast-filter > picture{
            margin: 0 6px;
        }

        

/* Product */
/* ==================================================================== */

#product-wrapper{
    height: 100%;
    margin: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1600px;
}

.product-container{
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px lightgrey solid;
}

.product-img{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: white;
}

.product-img:hover{
    z-index: 29;
    transform: scale(1.2);
    border: 2px var(--main-col) solid;
    cursor: pointer;
    transition-duration: 0.2s;
}

.img-selected{
    transform: scale(1.5) translateX(-32px) translateY(32px)!important;
    z-index: 30;
    border: 2px var(--main-col) solid;
    border-radius: 20px;
}

.img-selected > img{
    border-radius: 20px;
}

.product-description{
    position: absolute;
    top: 0;
    left: 200px;
    width: var(--desc-box-width);
    border: 2px var(--main-col) solid;
    border-radius: 15px;
    background-color: white;
    z-index: 10;
}

.product-description-header{
    display: flex;
    height: 45px;
    margin: -2px -2px -2px -2px;
    width: calc(var(--desc-box-width) - 4);
    background-color: var(--blue-light);
    border: 2px var(--main-col) solid;
    border-radius: 13px 13px 0 0;
}
.product-description-vendor{
    width: 417px;
}

.product-description-close-btn{
    width: 45px;
    height: 45px;
    margin: -2px -2px 0 0;
    border: 2px var(--main-col) solid;
    border-radius: 0 13px 0 0;
}

.product-description-main{
    width: var(--desc-box-width);
    min-height: 320px;
    padding: 12px;
}

.product-title{
    font-family: open-sans-bold;
}

.product-properties{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.netto-container,
.brutto-container,
.price-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    background-color: lightblue;
}

.product-short-description{
    border-left: 6px var(--main-col) solid;
    padding-left: 10px;
}

.read-more{
    display: block;
    font-family: open-sans-bold;
    color: var(--main-col);
    margin-top: 8px;
}

/* Product Description Links part*/
/* ==================================================================== */

.product-links{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.product-links-col1,
.product-links-col2{

    width: 100%;
    height: 37px;
    border: 2px var(--main-col) solid;
    border-radius: 10px;
}

.product-links-col1{
    display: flex;
    justify-content: space-between;
}
.product-links-col2{margin-top: 5px;}

.nährwerte-container,
.wikipedia-container{
    display: flex;
    justify-content: space-between;
    border: 2px var(--main-col) solid;
    height: 37px;
    margin-top: -2px;
    width: 51%;
}
.nährwerte-container{
    border-radius: 10px 0 0 10px;
    margin-left: -2px;
}
.wikipedia-container{
    border-radius: 0 10px 10px 0;
    margin-right: -2px;
}

.nährwerte-img,
.wikipedia-img{
    background-color: var(--main-col);
    width: 35px;
}

.nährwerte-img{border-radius: 7px 0 0 7px;}
.wikipedia-img{border-radius: 0 7px 7px 0}

.nährwerte{margin-right: 35px;}
.wikipedia{margin-left: 40px;}

.product-links-more{text-align: center;}

.product-add-cart-container{
    display: flex;
    width: 320px;
    height: 55px;
    margin: auto;
    margin-top: 15px;
    border: 2px var(--main-col) solid;
    border-radius: 10px;
}

.add-cart-nav-container{
    display: flex;
    align-items: center;
    width: 50%;
}

.add-cart-nav{
    display: flex;
}

.add-qty{
    text-align: center;
    font-size: var(--txt-mittel);
    height: 40px;
    width: 40px
}

.minus-btn,
.plus-btn{
    height: 40px;
    width: 20px;
}

.product-add-cart-btn{
    width: 50%;
}

.product-description{
    display: none;
}

.overlay-products{
    position: absolute;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100vw;
    display: none;
}

/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */
/* Footer */
/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */

#page-footer{
    height: 400px;
    background-color: #1C1C1C;
}